mixin landing(imgName, imgAlt, filtreImage, logoName, logoAlt, titleLine, title, excerpt, arrowDown, arrowDown)
  article.landing
    img.landing__mainImg(src=`../../images/headers/${imgName}.jpg`, alt=`${ imgAlt }`)
    div.landing__filterHeader
    div.landing__slogan
      img(src=`../../images/assets/logo/${ logoName }.svg`, alt=` ${ logoAlt }` class="logoHeader")
      div.landing__titleLine 
      h1.landing__title= title
    div.landing__textIntro= div
      div.landing__text= div
        p.landing__excerptIntro= excerpt
      img(src=`../../images/assets/${ arrowDown }.png`, alt=` ${ arrowDown }` class="arrowDown")